{%  extends 'accounts/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form"  action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h2>Create a new Tenant Building</h2>
                <label for="status">Building</label>
                <select class="form-control" id="building" name='building'>
                    <option selected disabled="true">--Select Building--</option>
                    {% for building in buildings %}
                        <option>{{ building.name }}</option>
                    {% endfor %}
                   
                </select>
                <br>
                <label for="status">Tenant</label>
                <select class="form-control" id="tenant" name='tenant'>
                    <option selected disabled="true">--Select Tenant--</option>
                    {% for tenant in tenants %}
                        <option>{{ tenant.name }}</option>
                    {% endfor %}
                </select>
                <label for="lastname">Contract Amount</label>
                <input type="text" name="contractAmount" class="form-control" style="width:100%;" required="required"/>
                <label for="status">Status</label>
                <select class="form-control" id="tenant" name='status'>
                    <option selected disabled="true">--Select Status--</option>
                    <option value='status'>Active</option>
                    <option value='status'>Inactive</option>
                </select>
                <br>
                <button type="submit" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-plus"></span> Save</button>
            </div>
        </form>
        <br />
    </div>

    <div class="col-md-3"></div>
</div>


{% endblock content %}